<p id="notice"><%= notice %></p>



<div class="border p-3">

  <%= link_to 'Validate my agenda', checkouts_path(:id => @organiser.id), class:"btn btn-outline-primary" %>
</div>
<div class="row ml-3">

<div class="col-4">
    <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Activities</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
				<% for ticket in unselected_tickets do %>
          <tr>
            <td><%= checkout.ticket.activity.name %></td>
            <td><%= checkout.ticket.duration/60 %>h</td>
            <td><%= link_to checkout_path(:checkout_id => checkout.id), method: :patch do%><i class="fas fa-plus-square fa-2x "></i><%end%></td>
          </tr>
			 <% end %>
      </tbody>
    </table>
  </div>

</div>
<div class="col-4 ">
  <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Planning</th>
        </tr>
      </thead>
      <tbody>
        <% time = 9 %>
        <%if (@checkouts_tickets != nil && user_signed_in?) %>
          <% for cwcheckout in checkouts_selected.tickets %>
          <tr>
              <td>
              <div class="card">
                <div class="card-header">
                  <p> <%= time%> h <%= checkout.ticket.duration%60 %> </p>
                  <% time+= (ticket.duration)/60%>

                </div>
                <div class="d-flex card-body">
                  <h5 class="card-title"><%= ticket.name %></h5>
                  <%= link_to checkout_path(Checkout.where(ticket_id: ticket.id, organiser_id: @organiser.id).first,:organiser_id => @organiser.id) , method: :delete do%> <i class="fas fa-trash fa-2x ml-4"></i> <%end%>
                </div>
              </div>
              </td>
          </tr>
          <% end %>

          <% else %>
            <% @checkouts_tickets.each do |ticket| %>
              <tr>
                  <td>
                  <div class="card">
                    <div class="card-header">
                      <p> <%= time%> h <%= ticket.duration%60 %> </p>
                      <% time+= (ticket.duration)/60%>

                    </div>
                    <div class="d-flex card-body">
                      <h5 class="card-title"><%= ticket.name %></h5>
                      <%= link_to destroy_ticket_cookie_organisers_path(ticket_id: Ticket.find(ticket.id)), method: :delete do%> <i class="fas fa-trash fa-2x ml-4"></i> <%end%>
                    </div>
                  </div>
                  </td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>


<div class="col-4 ">

<div id="map" class="map"></div>

</div>
</div>



<h1>Editing Organiser</h1>

<%= render 'form', organiser: @organiser %>

<%= link_to 'Show', @organiser %> |
<%= link_to 'Back', organisers_path %>

