<p id="notice"><%= notice %></p>



<div class="border p-3">

  <%= link_to 'Validate my agenda', checkouts_path, class:"btn btn-outline-primary" %>
	<%= link_to "Activities", city_activities_path(@city.id), class:"nav-link" %>




	<div class="actions_page">
		<%= form_for @organiser,  method: :patch do |form| %>
			<%= form.select(:duration, options_duration) %>
			<%= form.submit "Duration", class:"btn btn-primary btn-sm" %>
		<% end %>
	</div>

	<div class="actions_page">
		<%= form_for @organiser, url: edit_organiser_path(@organiser.id),  method: :get do |form| %>
			<%= form.select(:duration, options_days) %>
			<%= form.submit "day", class:"btn btn-primary btn-sm" %>
		<% end %>
	</div>

</div>
<div class="row ml-3">

<div class="col-4">
    <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Activities</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
				<% for checkout in  @unselected_checkouts do %>
          <tr>
									<td><%= checkout.index %></td>
            <td><%= checkout.ticket.activity.name %></td>
            <td><%= checkout.ticket.duration/60 %>h</td>
            <td><%= link_to checkout_path(checkout.id, :commit => "select"), method: :patch do %> <i class="fas fa-plus-square fa-2x "></i> <% end %></td>
          </tr>
				<% end %>
      </tbody>
    </table>
  </div>

</div>
<div class="col-4 ">
  <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Planning</th>
        </tr>
      </thead>
      <tbody>
        <% time = 9 %>
          <% for checkout in @selected_checkouts do %>
						<% if checkout.day == session[:current_day] %>
							<tr>
									<td>
									<div class="card">
										<div class="card-header">
											<%= checkout.index %>
											<p> <%= time%> h <%= checkout.ticket.duration%60 %> </p>
											<% time+= (checkout.ticket.duration)/60%>

										</div>
										<div class="d-flex card-body">
											<%= link_to 'u', checkout_path(checkout.id,:commit => "up"), method: :patch %>
											<h5 class="card-title"><%= checkout.ticket.name %></h5>

											<% if !checkout.paid %>
												<%= link_to checkout_path(checkout.id,:commit => "unselect"), method: :patch do%> <i class="fas fa-trash fa-2x ml-4"></i> <% end %> 
											<% else %>
												<i class="fas fa-trash fa-2x ml-4 black"></i>
												<% end %>
											<%= link_to 'd', checkout_path(checkout.id,:commit => "down"), method: :patch %>
										</div>
									</div>
									</td>
							</tr>
						<% end %>
          <% end %>

      </tbody>
    </table>
  </div>

</div>


<div class="col-4 ">

  <div id="map" class="map"></div>

    <script src="<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_KEY']}"%>"></script>
    <script>
      function initialize() {
        var location = {lat: 37.566536, lng: 126.977966};
        var map = new google.maps.Map(document.getElementById('map'), {
          center : location, 
          zoom: 13 
        });

        var activities = gon.organiser_activities;

        for (var i = 0; i < activities.length; i++) {
        var latLng = new google.maps.LatLng(Object.values(activities)[i].latitude,Object.values(activities)[i].longitude);
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
        
        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </div>
</div>
</div>






