<p id="notice"><%= notice %></p>



<div class="border p-3">

  <%= button_to 'Validate my agenda', validate_organiser_path, class:"btn btn-outline-primary" %>
</div>
<div class="row ml-3">

<div class="col-4">
    <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Activities</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <%if @cart_activities != nil %>
          <% @cart_activities.each do |activity| %>
              <%if !@organisers_tickets.include?(Ticket.where(activity_id: activity.id).first) %>
              <tr>
                <td><%= activity.name %></td>
                <td><%= Ticket.where(activity_id: activity.id).first.duration/60 %>h</td>
                <td><%= link_to organisers_path(:activity_id => activity.id), method: :post do%><i class="fas fa-plus-square fa-2x "></i><%end%></td>
              </tr>
             <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<div class="col-4 ">
  <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Planning</th>
        </tr>
      </thead>
      <tbody>
        <% time = 9 %>
        <%if (@organisers_tickets != nil && user_signed_in?) %>
          <% @organisers_tickets.each do |ticket| %>
          <tr>
              <td>
              <div class="card">
                <div class="card-header">
                  <p> <%= time%> h <%= ticket.duration%60 %> </p>
                  <% time+= (ticket.duration)/60%>

                </div>
                <div class="d-flex card-body">
                  <h5 class="card-title"><%= ticket.name %></h5>
                  <%= link_to organiser_path(Organiser.where(ticket_id: ticket.id, user_id: current_user.id).first), method: :delete do%> <i class="fas fa-trash fa-2x ml-4"></i> <%end%>
                </div>
              </div>
              </td>
          </tr>
          <% end %>

          <% else %>
            <% @organisers_tickets.each do |ticket| %>
              <tr>
                  <td>
                  <div class="card">
                    <div class="card-header">
                      <p> <%= time%> h <%= ticket.duration%60 %> </p>
                      <% time+= (ticket.duration)/60%>

                    </div>
                    <div class="d-flex card-body">
                      <h5 class="card-title"><%= ticket.name %></h5>
                      <%= link_to destroy_ticket_cookie_organisers_path(ticket_id: Ticket.find(ticket.id)), method: :delete do%> <i class="fas fa-trash fa-2x ml-4"></i> <%end%>
                    </div>
                  </div>
                  </td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>


<div class="col-4 ">

<div id="map" class="map"></div>

</div>
</div>