<div class="container">
  <h2> The selection </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Activity Name</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Website</th>
        <th>Tickets</th>
				<th>Details</th>
				<th>Remove</th>
      </tr>
    </thead>
    <tbody>
			<% if user_signed_in? %>
				<% for checkout in @checkouts do %>
					<% tickets = checkout.ticket.activity.tickets %>
				<tr>
					<td> <%= checkout.ticket.activity.name %></td>
					<td> <%= checkout.ticket.duration %></td>
					<td> <%= checkout.ticket.price %></td>
					<td> <%= checkout.ticket.ticket_url %></td>
					<td>
						<%= form_with(model: checkout.ticket, url: checkout) do |form| %>
							<%= form.collection_select(:id, tickets.all, :id, :name) %>
							<%= form.hidden_field :checkout_id, :value => checkout.id %>
							<%= form.submit "change", class:"btn sm-btn-primary", style:"width: 5px; height: 5px; method: :patch" %>
						<% end %>
					</td>
					<td> <%= link_to "show", city_activity_path(checkout.ticket.activity.city_id, checkout.ticket.activity.id) %> </td>
          <td><%= link_to checkout_path(checkout.id), method: :delete do%> <i class="fas fa-trash fa-2x"></i><%end%></td>
				<tr>
				<% end %>
			<% else %>
				<% for ticket in @tickets do %>
				<tr>
					<td> <%= ticket.activity.name %></td>
					<td> <%= ticket.duration %></td>
					<td> <%= ticket.price %></td>
					<td> <%= ticket.ticket_url %></td>
					<td> <%= link_to "show", city_activity_path(ticket.activity.city_id, ticket.activity.id) %> </td>
				<tr>
			<% end %>
			<% end %>
    </tbody>
  </table>



	<% if user_signed_in? %>
		<%= link_to "Go to organiser", edit_organiser_path(cookies[:organiser_id]), class: "btn btn-lg btn-outline-primary p-2 m-2" %>
	<% else %>
		<%= link_to "Go to organiser", new_organiser_path, class: "btn btn-lg btn-outline-primary p-2 m-2" %>
	<% end %>

</div>
