
<h2> The orders </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Email user</th>
      <th scope="col">command date</th>
      <th scope="col">user profile</th>
      <th scope="col">items sold  </th>
    </tr>
  </thead>
  <tbody>
		<% i = 1	 %>
		<% for order in @orders  %>
			<tr>
				<th scope="row"><%= i%></th>
				<td><%= order.user.email %> </td>
				<td><%= order.created_at %></td>
				<td><%= link_to "Show profile user", admin_user_path(order.user.id) %> </td>
				<td><%= link_to "Show details", admin_order_path(order.id) %> </td>
			</tr>
			<% i +=1 %>
		<% end %>
  </tbody>
</table>
