<p id="notice"><%= notice %></p>


<div class="row ml-3">

<div class="col-4">
    <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Activities</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <%if @cart_activities != nil %>

          <% @cart_activities.each do |activity| %>
          <tr>
              <td><%= activity.name %></td>
              <td><%= Ticket.where(activity_id: activity.id).first.duration/60 %>h</td>
              <td><%= button_to 'Add to agenda', organizers_path(:activity_id => activity.id), method: :post, class: "btn btn-primary m-3"%></td>

          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<div class="col-4 ">
  <div class="tabl-cart">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Activities</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <%if @organizers_tickets != nil %>
          <% @organizers_tickets.each do |ticket| %>
          <tr>
              <td><%= activity.name %></td>
              <td><%= Ticket.where(activity_id: activity.id).first.duration/60 %>h</td>

          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>


<div class="col-4 ">

<div id="map" class="map"></div>

</div>
</div>