<div class="container-fluid show_profile">
  <div class="row">
    <div class="col-lg-4 data">
      	<%= render 'profile_user', user: @user %>
    </div>
    <div class="col-lg-8 data2">
      <div class="card card_command">
        <div class="card-img ">
          <% if @orders.length > 0 then  %>
            <table class="table table_user">
              <thead>
                <tr>
                  <th scope="col">Orders</th>
                  <th scope="col">Cities</th>
                  <th scope="col">Amounts</th>
                </tr>
              </thead>
              <tbody>
                <ul class="list-group">
                  
                    <%@orders.each  do |order| %>
                      <td> n* <%=order.id %>   </td>
                      <td><%=order.tickets.first.activity.city.name %> </td>
                      <td><%=amount_order(order) %> $</td>
                    <%end %>
                </ul>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <div class="card card_command">
        <div class="card-img ">
          <table class="table table_user">
            <thead>
              <tr>
                <th scope="col">Plannings</th>
                <th scope="col">Cities</th>
                <th scope="col">Duration Days</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <% @organisers.each do |organiser|%>
                <tr>
                  <td> n* <%=organiser.id %>   </td>
                  <td><%= organiser.city.name %></td>
                  <% if organiser.duration = 1 %>  
                    <td><%= organiser.duration %> day</td>
                  <%else %>
                    <td><%= organiser.duration %> days</td>
                  <%end%>
                  <td><%=  button_to 'Detail', edit_organiser_path(organiser.id, commit: "change"), method: :get,  class: "btn btn-outline-primary" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


   