<div class="container-fluid show_profile">
  <div class="row">
    <div class="col-lg-5 show_profile_infos">
      <h1 class="display-5 show_profile_title">Show your Profile</h1>

      <ul class="list-group list_show_profile">
        <% if @orders then %> <%=@orders.each do |order| %>
        <li class="list-group-item list_group_show_profile"><%= order.id %></li>
        <%end %> <% end %>
        <li class="show_line_profile">your First name: <span class='data_show_profile'><%=@user.first_name %></span>
        </li>
        <li class="show_line_profile">your Last name: <span class='data_show_profile'><%=@user.last_name %></span></li>
        <li class="show_line_profile">your email: <span class='data_show_profile'><%=@user.email %></span></li>
        <li class="show_line_profile">your Address: <span class='data_show_profile'><%=@user.address %></span></li>
      </ul>

      <%= link_to "Change your informations", edit_user_path(current_user.id),
      class: "btn btn-primary btn-lg button_show_profile", role: "button" %>
    </div>
    <div class="col-lg-7">
      <%= image_tag 'show_form.jpg', class: 'img-thumbnail picture1'%>
    </div>
  </div>



</div>
</div>