<%=render "static/jumbotron" %>
<div class="bg-white pt-5">
  <div class="container half-screen bg-white">
    <h1 class="text-center mt-5 pt-5"><span class='brand_offer '>My</span> <span class="brand_offer2 text-center"> Travel</span> </h1>
    <div class="row justify-content-center mb-5">
      <hr class="lign2">
      <hr class="lign2">
    </div>
    <div class="row justify-content-center ">
        <div class="col-4 proposition_text_landing">
            <p> You don't want to be burdened by your travel guide everywhere you go and you're tired of browsing through blogs and websites to plan your trip.
              if you are in this case. My Travel offers you immediate access to all the activities you can imagine in a given city</p>
        </div>
        <div class="col-4 mb-5 proposition_text_landing">
            <p> and buy tickets directly from our website.
              All you have to do is add them to your basket so we can take care of your schedule for you.
              We also provide an online map that will make your trips from one place to another easier.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-landing pt-5">
  <div class="row half-screen pb-5">
    <div class="card icon_card suitcase mb-5">
      <div class="card-body">
        <%= image_tag 'https://cdn.icon-icons.com/icons2/1011/PNG/512/Google_Calendar_icon-icons.com_75710.png', class:"logo-responsive"%>
        <h2 class="card-title logo_title">Plan your trip</h2>
        <p>Choose one of the five cities </p>
        <p> Check activities and information</p>
        <p>Add the activities you like in planning</p></div>
    </div>
    <div class="card icon_card plane mb-5">
      <div class="card-body">
        <%= image_tag 'https://cdn.icon-icons.com/icons2/1011/PNG/512/Google_Maps_icon-icons.com_75717.png', class:"logo-responsive"%>
        <h2 class="card-title logo_title">Optimize your itinerary </h2>
        <p>Visualize position of activities</p>
        <p>Check public transportation</p>
        <p>Plan your trip with schedule and map</p>
      </div>
    </div>
    <div class="card icon_card airballoon mb-5">
      <div class="card-body">
        <%= image_tag 'https://cdn.icon-icons.com/icons2/102/PNG/128/cart_17822.png', class:"logo-responsive"%>
        <h2 class="card-title logo_title">Book your tickets</h2>
        <p> Select the tickets you want </p>
        <p> Buy all tickets in one click </p>
        <p> Modify your trip as you want </p>
      </div>
    </div>
  </div>
</div>

<div class="landing_easy text-center">
  <h1 class="text-center  pt-5"> <%= image_tag 'https://image.flaticon.com/icons/png/128/1410/1410596.png'%> Planning has never been so easy</h1>
</div>

<div class="container text-center mt-5 mb-5 ">
  <h1 class="text-center title_cities_landing mt-5">CITIES</h1>
  <hr class="lign2">
  <hr class="lign2">
  
  <div class="card-deck mt-5 p-4">
    <div class="card card_city">
      <img class="card-img card-img-top" src="https://i0.wp.com/www.manegeculturel.com/wp-content/uploads/2018/01/image-600x600.png" alt="Card image cap">
      <div class="card-img-overlay ">
        <h1 class="card-text text-white ">Tokyo</h1>
      </div>
    </div>
    <div class="card card_city">
      <img class="card-img card-img-top " src="https://fastly.4sqi.net/img/general/600x600/65758_ZnEQ3nBfneWJHCr-fmsl9BXB2f29qhaZI5wynd8n5E8.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <h1 class="card-text text-white">Seville</h1>
      </div>
    </div>
    <div class="card card_city">
      <img class="card-img card-img-top" src="https://scontent-cdg2-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/74649514_2453558548094763_5074128037523899841_n.jpg?_nc_ht=scontent-cdg2-1.cdninstagram.com&_nc_cat=103&oh=b0ec1e210a1c80fb094e40d737e9b006&oe=5E668163" alt="Card image cap">
      <div class="card-img-overlay">
        <h1 class="card-text text-white">Rio de Janeiro</h1>
      </div>
    </div>
  </div>
  <div class="actions  btn view-all ">
    <%= link_to "View all cities", cities_path(commit: "new_travel"), class:"btn btn-lg btn-primary text-uppercase" %>
  </div>
</div>


<div class="jumbotron background_checkerboard mb-0">
  <div class="container">
    <div class="row">
      <div class="Bck_card3 " style="background-image: url(https://hypegallery.fr/wp-content/uploads/2016/06/Rocky-Mountains-Picture-The-Tiverton-Foundation-Background-Image.jpg)"> 
        <div class="card img_card_jump p-5">
          <div class="text-center" >
            <div class="mt-3">
              <%= image_tag 'park.png'%>
            </div>
            <h1 class="card-title">Seoul</h1>
            <hr class="lign">
            <hr class="lign">
            <p class="card-text big_card">Seoul officially the Seoul Special City, is the capital and largest metropolis of South Korea. With surrounding Incheon metropolis and Gyeonggi province, Seoul forms the heart of the Seoul Capital Area</p>
            <div class="actions  btn">
              <% if !user_signed_in? %>
              <%= link_to('Sign Up', new_user_registration_path,class:'btn  btn-primary  text-uppercase') %>
                <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron background_checkerboard mb-0">
  <div class="container">
    <div class="row">
      <div class="Bck_card3 w-75" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d8/Colosseum_in_Rome-April_2007-1-_copie_2B.jpg)">
        <div class="card img_card_jump  p-5">
          <div class="text-center" >
            <div class="mt-3">
              <%= image_tag 'coliseum.png'%>
            </div>
            <h1 class="card-title">Roma</h1>
            <hr class="lign">
            <hr class="lign">
            <p class="card-text big_card">Rome is the capital city and a special comune of Italy.Rome also serves as the capital of the Lazio region.</p>
            <div class="actions  btn">
              <% if !user_signed_in? %>
              <%= link_to('Sign Up', new_user_registration_path,class:'btn  btn-primary  text-uppercase') %>
                <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="card-group">
    <div class="card">
      <%= image_tag 'https://www.barcelonahacks.com/wp-content/uploads/2019/01/Camp-Nou-Experience-600x600.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://www.theserialhobbyistgirl.com/wp-content/uploads/2015/08/IMG_7159_small-600x600.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://www.dhresource.com/600x600/f2/albu/g5/M00/9C/69/rBVaJFlt2AqAYb_9AANDTL-dnLA396.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/12338211_JkEH3qM2VPJoVuZ1jT6TKWR5r9j287v2ItXoZkxhdJ0.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://a4-images.myspacecdn.com/images04/8/c354c069df544a64bab80fb9b810ba3d/600x600.jpg',class:"w-100"%>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <%= image_tag 'https://cdn.koreatraveleasy.com/wp-content/uploads/2016/09/29132516/Baekyangsa-Temple-Naejangsan-national-park-fall-foliage1-600x600.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/19686540_3kzwppE2Aegpl14ZBgsgOnBFzaAWHTGawbYvQzN5Rvo.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/2573088_WhxhEX8_MoYUi7WBMNu6gVln_M8bMu2nBMIlEUMdfhI.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/390093026_10rYO3V1_ibs4oOfvf031A7GL9gWYvOHukDqDXIy80k.jpg',class:"w-100"%>
    </div>
    <div class="card">
      <%= image_tag 'http://www.mondialjunior.fr/wp-content/uploads/2017/10/Time-Square-New-York-City-iStock-487537456-2-600x600.jpg',class:"w-100"%>
    </div>
  </div>

