<%=render "static/jumbotron" %>

<div class="container mt-4">
    <div class="row justify-content-center">
        <h1 class="text-center">Discover<br> the activities available in the cities easily</h1>
      <hr class="lign2">
      <hr class="lign2">
    </div>

    <div class="row  justify-content-center mt-5 p-4">
        <div class="col-4">
            <p>Spend hours on the internet organizing your schedule for visiting a city is over.
                With My travel you have all the activities of a city to do. You can even buy your tickets directly on
                the site.
                You only have to add the activities to the basket and we take care of creating your schedule.</p>
        </div>
        <div class="col-4">
            <p>A multitude of information taken into account for a better experience of activities
                You have access to a map that shows you the activities nearby.
                No need for your backpacker guide you just have to pack your bags and enjoy the city you visit.</p>
        </div>
    </div>
</div>
</div>





<div class="background_checkerboard text-center">
<div class="container">

  <h1 class="text-center mt-5">Cities</h1>
  <hr class="lign2">
  <hr class="lign2">

<div class="card-deck mt-5 p-4">
  <div class="card card_city">
    <img class="card-img card-img-top " src="https://i0.wp.com/www.manegeculturel.com/wp-content/uploads/2018/01/image-600x600.png" alt="Card image cap">
    <div class="card-img-overlay">
      <h1 class="card-text text-white">Tokyo</h1>
    </div>
  </div>
  <div class="card card_city">
    <img class="card-img card-img-top card_city" src="https://fastly.4sqi.net/img/general/600x600/65758_ZnEQ3nBfneWJHCr-fmsl9BXB2f29qhaZI5wynd8n5E8.jpg" alt="Card image cap">
    <div class="card-img-overlay">
      <h1 class="card-text text-white">Seville</h1>
    </div>
  </div>
  <div class="card card_city">
    <img class="card-img card-img-top" src="http://www.videoskick.com/wp-content/uploads/2015/06/Statue-of-Jesus-Christ-The-Redeemer-Rio-de-Janeiro-Brazil-hd-wallpapers-1-800x800.jpg" alt="Card image cap">
    <div class="card-img-overlay">
      <h1 class="card-text text-white">Rio de Janeiro</h1>
    </div>
  </div>
</div>
</div>
  <div class="actions  btn view-all ">
    <input type="submit" name="commit" value="View All Cities" class="btn btn-lg btn-primary text-uppercase " data-disable-with="Update City">
  </div>
</div>






<div class="row justify-content-center landing_easy  text-center">
<div class="row">
  <div class="body">

    <i class="fas fa-plane fa-3x mt-5"></i>
    <br>
    <br>
    <h1 class="text-center text-uppercase t"> you only have to travel</h1>
  </div>
</div>
</div>





<div class="jumbotron background_checkerboard">
  <div class="container">
    <div class="row">
      <div class="Bck_card3" style="background-image: url(https://hypegallery.fr/wp-content/uploads/2016/06/Rocky-Mountains-Picture-The-Tiverton-Foundation-Background-Image.jpg)">
        <div class="card img_card_jump">

          <div class="card text-center" >
            <div class="card-img-top ">
              <%= image_tag 'park.png'%>
            </div>
            <h1 class="card-title"><%= @city.name%></h1>
            <hr class="lign">
            <hr class="lign">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.Some quick example text to build on the card title and make up the bulk of the
              card's content.Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <div class="actions  btn btn_sign">
              <% if !user_signed_in? %>
                <%= link_to('Sign Up', new_user_registration_path,class:'btn  btn-primary  text-uppercase') %>
              <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="jumbotron background_checkerboard">
  <div class="container">
    <div class="row">
      <div class="Bck_card3" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d8/Colosseum_in_Rome-April_2007-1-_copie_2B.jpg)">
        <div class="card img_card_jump">
          <div class="card text-center" >
            <div class="card-img-top ">
              <%= image_tag 'coliseum.png'%>
            </div>
            <h1 class="card-title"><%= @city.name%></h1>
            <hr class="lign">
            <hr class="lign">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.Some quick example text to build on the card title and make up the bulk of the
              card's content.Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <div class="actions  btn">
              <% if !user_signed_in? %>
              <%= link_to('Sign Up', new_user_registration_path,class:'btn  btn-primary  text-uppercase') %>
                <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="background_checkerboard">
  <div class="row">
    <div class="card icon_card suitcase ">
      <div class="card-body">
        <%= image_tag 'https://cdn2.downdetector.com/static/uploads/c/300/4560a/calendar_3.png'%>
        <h2 class="card-title logo_title">Agenda</h2>
        <p class="card-text">Your planning is create by MyTravel</p>
      </div>
    </div>
    <div class="card icon_card plane">
      <div class="card-body">
        <%= image_tag 'https://nouvelle-techno.fr/media/cache/thumb/uploads/images/featured/5d3ec173bbaac209825584.png'%>
        <h2 class="card-title logo_title">Map</h2>
        <p class="card-text">You can see map with activities</p>
      </div>
    </div>
    <div class="card icon_card airballoon">
      <div class="card-body">
        <%= image_tag 'http://hemasupports.com/wp-content/uploads/2015/07/1.png'%>
        <h2 class="card-title logo_title">All in your phone</h2>
        <p class="card-text">Finish books;All is in your phone</p>
      </div>
    </div>
  </div>
</div>



<div class="gallery">
<div class="card-group">
  <div class="card">
    <%= image_tag 'https://www.barcelonahacks.com/wp-content/uploads/2019/01/Camp-Nou-Experience-600x600.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://www.theserialhobbyistgirl.com/wp-content/uploads/2015/08/IMG_7159_small-600x600.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://www.dhresource.com/600x600/f2/albu/g5/M00/9C/69/rBVaJFlt2AqAYb_9AANDTL-dnLA396.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/12338211_JkEH3qM2VPJoVuZ1jT6TKWR5r9j287v2ItXoZkxhdJ0.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://a4-images.myspacecdn.com/images04/8/c354c069df544a64bab80fb9b810ba3d/600x600.jpg',class:"img_gallery"%>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <%= image_tag 'https://cdn.koreatraveleasy.com/wp-content/uploads/2016/09/29132516/Baekyangsa-Temple-Naejangsan-national-park-fall-foliage1-600x600.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/19686540_3kzwppE2Aegpl14ZBgsgOnBFzaAWHTGawbYvQzN5Rvo.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/2573088_WhxhEX8_MoYUi7WBMNu6gVln_M8bMu2nBMIlEUMdfhI.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'https://fastly.4sqi.net/img/general/600x600/390093026_10rYO3V1_ibs4oOfvf031A7GL9gWYvOHukDqDXIy80k.jpg',class:"img_gallery"%>
  </div>
  <div class="card">
    <%= image_tag 'http://www.mondialjunior.fr/wp-content/uploads/2017/10/Time-Square-New-York-City-iStock-487537456-2-600x600.jpg',class:"img_gallery"%>
  </div>
</div>
</div>
