<div class="jumbotron text-center jumbo_landing">
    <h1 class="display-4">My Travel</h1>
    <p class="lead">Choose your future destination<br> Select activities</p>

			<div class="actions_page">
				<%= form_with(model: @organiser) do |form| %>
					<%= form.collection_select(:city_id, @cities.all, :id, :name) %>
					<%= form.submit "Go", class:"btn btn-primary" %>
				<% end %>
			</div>


</div>

<div class="jumbotron jumbotron-fluid jumbo_landing2">

</div>



<div class="container ">
    <div class="row justify-content-center">
        <h1 class="text-center">Discover<br> the activities available in the cities easily</h1>
    </div>
    <br>
    <br>
    <div class="row  justify-content-center ">
        <div class="col-4">
            <p>Spend hours on the internet organizing your schedule for visiting a city is over.
                With My travel you have all the activities of a city to do. You can even buy your tickets directly on
                the site.
                You only have to add the activities to the basket and we take care of creating your schedule.</p>
        </div>
        <div class="col-4">
            <p>
                A multitude of information taken into account for a better experience of activities
                You have access to a map that shows you the activities nearby.
                No need for your backpacker guide you just have to pack your bags and enjoy the city you visit.</p>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <button type="button" class="btn btn-primary ">More about us </button>

</div>

<div class="jumbotron jumbotron-fluid jumbo_landing3">

</div>

</div>

<div class="background_checkerboard">
    <div class="container-fluid">
        <div class="row">
            
            <div class="card icon_card suitcase">
                    <div class="card-body">
                        <%= image_tag 'https://image.flaticon.com/icons/svg/760/760069.svg', class:'img-responsive'%>
                        <h2 class="card-title logo_title">SEOUL</h2>
                        <p class="card-text">Check available activities</p>
                    </div>
                    </div>
            <div class="card icon_card suitcase">

            <div class="card-body">
                <%= image_tag 'https://image.flaticon.com/icons/svg/188/188815.svg', class:'img-responsive'%>
                <h2 class="card-title logo_title">RIO</h2>
                <p class="card-text">Check available activities</p>

            </div>

        </div>
        <div class="card icon_card suitcase">


            <div class="card-body">
                <%= image_tag 'https://image.flaticon.com/icons/svg/2130/2130092.svg',class:'img-responsive'%>
                <h2 class="card-title logo_title">SEVILLA</h2>
                <p class="card-text">Check available activities</p>
            </div>

        </div>
        <div class="card icon_card suitcase">
        <div class="card-body">
                <%= image_tag 'https://image.flaticon.com/icons/svg/444/444697.svg', class:'img-responsive'%>
                <h2 class="card-title logo_title">ROMA</h2>
                <p class="card-text">Check available activities</p>
            </div>
        </div>
            <div class="card icon_card suitcase">
            <div class="card-body">
                <%= image_tag 'https://image.flaticon.com/icons/svg/444/444753.svg', class:'img-responsive'%>
                <h2 class="card-title logo_title">TOKYO</h2>
                <p class="card-text">Check available activities</p>
            </div>
            </div>
</div>
</div>
</div>


<div class="row  justify-content-center landing_easy ">
    <div class="col-6">
        <br>
        <h1 class="text-center"> Easy Trip</h1>
        <br>
        <p>Fish is one of the most wholesome foods that man can eat. In fact, people have been eating fish throughout
            human history.
            These days, many cooks yearn to add fish to their repertoire, but the whole process of cleaning and
            filleting.
            Fish is one of the most wholesome foods that man can eat. In fact, people have been eating fish throughout
            human history</p>
    </div>
</div>


<div class="row background_checkerboard first_cardeck_landing">
    <div class="container">
        <div class="card-deck cards_deck_landing">
           
            <div class="card cards_group_landing">
             <%= image_tag '3.jpg',class:'img-responsive small_cards'%>
                    <div class="card-img-overlay">
                      <p class="card-text"></p>
                    </div>
                  </div>
          
                  <div class="card cards_group_landing">
                    <%= image_tag '4.jpg',class:'img-responsive small_cards'%>
                           <div class="card-img-overlay">
                             <p class="card-text"></p>
                           </div>
                         </div>
                         <div class="card cards_group_landing">
                            <%= image_tag 'corcovado.jpg',class:'img-responsive small_cards'%>
                            <div class="card-img-overlay">
                                <p class="card-text"></p>
                              </div>
                                 </div>
        
            </div>
        </div>
    </div>

<div class="row background_checkerboard">
    <div class="container">
        <div class="card-deck card_deck_landing">
           
            <div class="card cards_group_landing">
             <%= image_tag 'temple.jpg',class:'img-responsive small_cards'%>
                    <div class="card-img-overlay">
                      <p class="card-text"></p>
                    </div>
                  </div>
          
                  <div class="card cards_group_landing">
                    <%= image_tag '1.jpg',class:'img-responsive small_cards'%>
                           <div class="card-img-overlay">
                             <p class="card-text"></p>
                           </div>
                         </div>
                         <div class="card cards_group_landing">
                            <%= image_tag '2.jpg',class:'img-responsive small_cards'%>
                            <div class="card-img-overlay">
                                <p class="card-text"></p>
                              </div>
                                 </div>
        
            </div>
        </div>
    </div>

<div class="jumbotron background_checkerboard big_cards_landing">


    <div class="container">

        <div class="Bck_card">
            <div class="card img_card_jump">
                <div class="card-body card-bodyz text-center">
                    <%= image_tag 'park.png'%>
                    <h1 class="card-title">Bukhansan national park</h1>

                    <hr class="lign">
                    <hr class="lign">

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron background_checkerboard">


    <div class="container">

        <div class="Bck_card2">
            <div class="card img_card_jump2">
                <div class="card-body card-bodyz text-center">
                    <%= image_tag 'coliseum.png'%>
                    <h1 class="card-title">Corcovado</h1>

                    <hr class="lign">
                    <hr class="lign">

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
        </div>
    </div>
  </div>  
