<div class="container text-center">
<h2> The activities </h2>

  <div class="d-flex justify-content-center  ">
    <%= link_to 'New activity', new_admin_activity_path, class:"m-3" %>

<!-- CSV Uploader -->
  <div class="ml-5 mb-2">
    <h5> Import activities </h5>
   	<%= form_with scope: :activity, url: import_city_activities_path(@city.id), local: true, method: :post  do |form| %>
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
          <%= form.collection_select(:city_id, @cities, :id, :name) %>
      </div>
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <%= form.file_field :file %>
        <div class="actions">
          <%= form.submit "Upload activities", class:"btn btn-lg btn-primary btn-block text-uppercase" %>
        </div>
      </div>
    <%end %>
    </div>
  </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">City</th>
      <th scope="col">Details</th>
      <th scope="col">Edit</th>
      <th scope="col">Destroy</th>
    </tr>
  </thead>
  <tbody>
		<% i = 1	 %>
		<% for activity in @activities  %>
			<tr>
				<th scope="row"><%= i%></th>
				<td><%= activity.name %> </td>
				<td><%= activity.price %></td>
				<td><%= activity.city.name %> </td>
				<td><%= link_to "Show", city_activity_path(activity.city.id, activity.id) %> </td>
				<td><%= link_to "Edit", edit_admin_activity_path(activity.id) %> </td>
				<td><%= link_to "Destroy", admin_activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' }%> </td>
			</tr>
			<% i +=1 %>
		<% end %>
  </tbody>
</table>
</div>

