
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @activity.address %>
</p>

<p>
  <strong>Price</strong>
  <%= @activity.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description%>
</p>

<p>
  <strong>City:</strong>
  <%= @activity.city.name%>
</p>

<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>

<%= link_to 'Edit', edit_admin_activity_path(@activity.id) %> |
<%= link_to 'Return index', admin_activities_path %>
