<div>
	<%= form_with scope: :city, url: city_path(city.id), local: true, method: :get  do |form| %>
		<% if city.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(city.errors.count, "error") %> prohibited this activity from being saved:</h2>

				<ul>
				<% activity.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		

		<div class="form-group floating-label-form-group controls mb-0 pb-2 col-2">
				<%= form.collection_select(:activities_category_id, activities_categories.all, :id, :name) %>
		</div>

		<div class="actions col-2">
			<%= form.submit "Search", class:"btn btn-lg btn-primary btn-block text-uppercase" %>
		</div>
		
	<% end %>
</div>
