<p id="notice"><%= notice %></p>
<div class="container text-center container_cities">
  <div class="title_cart text-right">
    <h2><i class="fas fa-city "></i> Cities</h2>
  </div>

<table class="table table_background">
  <thead>
    <tr>
      <th class=>Name</th>
      <th>Address</th>
      <th>Climat</th>
      <th>Description</th>
      <th>Time-zone</th>
      <th>Traditions</th>
      <th>Flag</th>
      <th>Picture</th>
      <th>Emblems</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.address %></td>
        <td><%= city.climat %></td>
        <td><%= city.description %></td>
        <td><%= city.timezone %></td>
        <td><%= city.traditions %></td>
        <td><%= city.flag %></td>
        <td><%= city.picture %></td>
        <td><%= city.emblems %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to ' Add New City', new_city_path,class:"btn btn-lg btn-primary btn-block text-uppercase" %>
</div>






<div class="row">
<div class="container">


  <div class="card-deck ">
    <% @cities.each do |city| %>
    <div class="card text-center">
      <i class="fas fa-suitcase fa-10x"></i>
      <div class="card-body">
        <h5 class="card-title"><%=city.name %></h5>
       <%= link_to 'Show', city %>
        <%= link_to 'Edit', edit_city_path(city) %>
       <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <%end %>
  </div>

</div>

</div>