<p id="notice"><%= notice %></p>


<div class="">

<%= link_to 'cities', cities_path %>

</div>

<div class="row">

<div class="col-8">
<div class="row">
  <% for activity in @activities do %>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= activity.picture%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= activity.name%></h5>
        <p class="card-text"> <%= activity.description %></p>

        <%= link_to 'More info', activity_path(activity.id) %>
        <%= link_to 'Add', activity_path(3) %>

      </div>
    </div> 

  <% end %>
</div> 
</div>
<div class="col-4">

<div id="map" class="map"></div>

</div>
</div>