


<div class= "container">
	<%= form_with scope: :user, url: admin_users_path, local: true, method: :post  do |form| %>
		<% if user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(user.errors.count, "error") %> prohibited this activity from being saved:</h2>

				<ul>
				<% user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form-group floating-label-form-group controls mb-0 pb-2">
			<%= form.label :first_name,class:"font-weight-bold"  %>
			<%= form.text_field :first_name,class:'form-control'  %>
		</div>

		<div class="form-group floating-label-form-group controls mb-0 pb-2">
			<%= form.label :last_name,class:"font-weight-bold"  %>
			<%= form.text_field :last_name,class:'form-control'  %>
		</div>

		<div class="form-group floating-label-form-group controls mb-0 pb-2">
			<%= form.label :address,class:"font-weight-bold" %>
			<%= form.text_field :address,class:'form-control' %>
		</div>

		<div class="form-group floating-label-form-group controls mb-0 pb-2">
			<%= form.label :email,class:"font-weight-bold" %>
			<%= form.text_field :email,class:'form-control' %>
		</div>

		<div class="form-group floating-label-form-group controls mb-0 pb-2">
			<%= form.label :password,class:"font-weight-bold" %>
			<%= form.text_fied :password,class:'form-control' %>
		</div>


	<br>
		<div class="actions">
			<%= form.submit "Create", class:"btn btn-lg btn-primary btn-block text-uppercase" %>
		</div>
	</div>
<% end %>
