<!-- <p id="notice"><%= notice %></p> -->
<!-- <%= @activity.name %> -->

<!-- <%= link_to 'Edit', edit_city_activity_path(params[:id], @activity) %> |
<%= link_to 'Back', city_activities_path %> -->
<%= render 'show_activities', activity: @activity%>





