<footer class="footer_background">
  <div class="page-footer navbar-default">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12 py-5 text-center">
          <div class="mb-5 ">
            <!-- Facebook -->
            <%= link_to class: 'nav-link' do %> <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!-- Twitter -->
            <%= link_to class: 'nav-link' do %> <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!-- Google +-->
            <%= link_to class: 'nav-link' do %> <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!--Linkedin -->
            <%= link_to class: 'nav-link' do %> <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!--Instagram-->
            <%= link_to class: 'nav-link' do %> <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!--Pinterest-->
            <%= link_to class: 'nav-link' do %> <i class="fab fa-pinterest fa-lg white-text fa-2x"></i><%end%>

          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->


    <div class="footer-copyright text-center py-3"> © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MyTravel</a>
    </div>


    <!-- Footer -->
  </div>

</footer>