
<footer class="footer_background sticky-bottom">
  <div class="page-footer navbar-default">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12 py-5 text-center ">
          <h5 class="text-secondary mb-4">Social Network</h5>
          <div class="mb-5 flex-center">
            <!-- Facebook -->
            <%= link_to  "https://www.facebook.com/TravelMyParis/",class: 'nav-foot' do %> <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!-- Twitter -->
            <%= link_to "https://twitter.com/TravelMyParis1?s=09",class: 'nav-foot' do %> <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!--Instagram-->
            <%= link_to "https://www.instagram.com/travel_my_paris/", class: 'nav-foot' do %> <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i><%end%>

            <!--Pinterest-->
            <%= link_to "https://www.pinterest.de/TravelMyParis/", class: 'nav-foot' do %> <i class="fab fa-pinterest fa-lg white-text fa-2x"></i><%end%>
          </div>
          <h5 class="text-secondary mb-2">Contact</h5>
          <h6 class="text-secondary">mail: thp.mytravel@gmail.com</h6>
          <hr class="lign">
          <hr class="lign">
          <h5 class="mb-1">Register for free
          <% if !user_signed_in? %>
            <%= link_to('Sign Up', new_user_registration_path,class:'btn  btn-primary  text-uppercase') %>
            <%end %></h5>
          <hr class="lign">
          <hr class="lign">
          <div class="footer-copyright text-center py-3 mt-5"> © 2019 Copyright:<%= link_to "https://www.facebook.com/TravelMyParis/", class: 'nav-foot' do %> MyTravel<%end %>
          </div>
  </div>
      </div>
    </div>
  </div>
</footer>







