
<nav class="navbar navbar-expand-lg navbar-default bg-default fixed-top shadow">
  <%= link_to static_index_path,class: 'navbar-brand' do %><span class='brand_title1'>My</span><span class='brandtitle2'> Travel</span> <%end%>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar_link">
      <li class="nav-item">


      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Profile", user_path(current_user.id), class:"nav-link" %>
        <% end %>
      </li>


      <li class="nav-item">
				<% if (cookies[:tempo_organiser] != nil) && (cookies[:organiser_id] != nil) %>
					<%= link_to 'Activities', city_activities_path(current_city_id), class:"nav-link" %>
				<% else %>
					<%= link_to 'Activities', root_path, class: 'nav-link' %>
				<% end %>
			</li>

      <li class="nav-item">
				


      <li class="nav-item">
          <%= link_to "New Travel", root_path(commit: "new_travel"), class:"nav-link" %>
      </li>

      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "My organiser ", edit_organiser_path(cookies[:organiser_id]), class:"nav-link" %>
        <% end %>
      </li>

      <li class="nav-item dropdown login_dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           Log <span class='login_title'>in</span>/<span class='login_title'>out</span> <i class="fas fa-sign-in-alt"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in?%>
          <%= link_to('Logout',destroy_user_session_path, method: :delete,class: 'dropdown-item') %>
          <% else %>
          <%= link_to('Sign Up', new_user_registration_path,class:'dropdown-item') %>
          <%= link_to('Login', new_user_session_path,class: 'dropdown-item')%>
          <% end %>
        </div>
      </li>
    </ul>
    
  </div>
</nav>
